.landing-container1 {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
}

.landing-landing-page {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  /*border: 2px solid #000;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.landing-content {
  width: 100%;
  min-height: 100vh;
  /*para que ocupe como minimo toda la pantalla*/
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.landing-header {
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  padding-left: 64px;
  padding-top: 24px;
  padding-bottom: 16px;

  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  border-color: rgba(0, 0, 51, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(255, 255, 255, 1);
}


.landing-footer {
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  padding-left: 64px;
  padding-top: 32px;
  padding-bottom: 32px;

  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  border-color: rgba(0, 0, 51, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.landing-header-logo {
  height: 24px;
  width: 78px;
  object-fit: cover;
}

.landing-footer-logo {
  height: 16px;
  width: 54px;
  object-fit: contain;
}

.landing-main-content {
  display: flex;
  /*padding: 80px 0 0;*/
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}


.landing-div {
  gap: 48px;
  display: flex;
  align-items: center;
}

.landing-clippathgroup1 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.landing-clip05707104601 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.landing-group1 {
  top: -0.00046777009265497327px;
  left: -4.606047099287025e-8px;
  width: 78.00070190429688px;
  height: 24.00044059753418px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.landing-upload-module {
  gap: 48px;
  width: 40%;
  display: flex;
  padding: 48px 0;
  align-items: center;
  flex-direction: column;
}

.landing-title {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.landing-text1 {
  color: var(--dl-color-default-neoblue);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: PT Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.landing-text-subtitle {
  color: var(--dl-color-default-gris);
  height: auto;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}


.landing-upload {
  gap: 8px;
  display: flex;
  padding: 30px 60px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(203, 208, 220, 1);
  border-style: dashed;
  border-width: 2px;
  border-radius: 26px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.landing-frame17 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing-group3 {
  width: 46px;
  height: 46px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}

.landing-vuesaxoutlinecloudadd1 {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.landing-vuesaxoutlinecloudadd2 {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.landing-cloudadd {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.landing-frame16 {
  gap: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing-text2 {
  color: var(--dl-color-default-neoblue);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.landing-frame15 {
  gap: 8px;
  display: flex;
  padding: 12px 32px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-default-neoblue);
}

.landing-text4 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.landing-page-links {
  gap: 48px;
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0 64px;
  box-sizing: border-box;
}

.landing-logos {
  gap: 12px;
  height: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}

.landing-logo {
  gap: 4px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.landing-clippathgroup2 {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.landing-clip05707104602 {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.landing-group2 {
  top: -0.00022362946765497327px;
  left: -4.606047099287025e-8px;
  width: 54.000484466552734px;
  height: 16.000293731689453px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.landing-footer-link-column {
  gap: 8px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.landing-text5 {
  color: var(--dl-color-default-gris);
  height: auto;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.landing-link {
  display: contents;
}

.landing-icon1 {
  width: 24px;
  margin-right: 4px;
}

.landing-text6 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

/*
@media (max-width: 1024px) {
  .landing-content {
    padding: 0 32px;
  }

  .landing-page-links {
    padding: 0 32px;
  }
}

@media (max-width: 768px) {
  .landing-content {
    padding: 0 24px;
  }

  .landing-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .landing-page-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .landing-upload-module {
    padding: 48px 0;
  }
}

@media (max-width: 480px) {
  .landing-main-content {
    padding-top: 56px;
  }

  .landing-title {
    text-align: center;
  }

  .landing-frame17 {
    width: 100%;
  }
}
  */