
.login-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-gray-white);
}

.login-header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-style: solid;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(0, 0, 51, 1);
  border-width: 0 0 1px;
  padding: 0 64px;
  box-sizing: border-box;
}

.login-header-logo {
  height: 24px;
  width: 78px;
  object-fit: cover;
}

.login-header-button {
  width: 250px;
  height: 40px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
}

.login-google-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.login-button-text {
  color: var(--dl-color-default-black);
  font-size: 14px;
  font-weight: 600;
}

.login-main-content {
  top: 80px;
  left: 0px;
  width: 100%;
  height: calc(100% - 160px);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
}

.login-module {
  width: 400px;
  height: 500px;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  background-color: white;
  border: 1px solid #E0E0E0;
  align-items: center;
}

.login-google-icon-large {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.login-module-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.login-module-text {
  font-size: 16px;
  color: #616161;
  margin-bottom: 30px;
}

.login-account-selector {
  width: 100%;
  flex-grow: 1;
  /* Dynamic content will go here */
}

.login-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.login-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007BFF; /* Example color */
}

.login-footer {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  border-color: rgba(0, 0, 51, 1);
  border-style: solid;
  border-width: 1px 0 0;
  background-color: rgba(255, 255, 255, 1);
  padding: 0 64px;
  box-sizing: border-box;
}

.login-footer-logo {
  height: 16px;
  width: 54px;
  object-fit: contain;
}

.login-footer-text {
  color: var(--dl-color-default-black);
  font-size: 14px;
}
