.nuevoproyecto-container1 {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
}
 
.nuevoproyecto-landing-page {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  /*border: 2px solid #000;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
 
.nuevoproyecto-content {
  width: 100%;
  min-height: 100vh; /*para que ocupe como minimo toda la pantalla*/
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.nuevoproyecto-header {
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  padding-left:64px;
  padding-top:24px;
  padding-bottom: 16px;

  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  border-color: rgba(0, 0, 51, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(255, 255, 255, 1);
}


.nuevoproyecto-footer {
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  padding-left:64px;
  padding-top:32px;
  padding-bottom: 32px;

  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  border-color: rgba(0, 0, 51, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.nuevoproyecto-header-logo {
  height: 24px;
  width: 78px;
  object-fit: cover;
}

.nuevoproyecto-footer-logo {
  height: 16px;
  width: 54px;  
  object-fit: contain;
}
 
.nuevoproyecto-main-content {
  display: flex;
  /*padding: 80px 0 0;*/
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}


.nuevoproyecto-div {
  gap: 48px;
  display: flex;
  align-items: center;
}
 
.nuevoproyecto-clippathgroup1 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.nuevoproyecto-clip05707104601 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.nuevoproyecto-group1 {
  top: -0.00046777009265497327px;
  left: -4.606047099287025e-8px;
  width: 78.00070190429688px;
  height: 24.00044059753418px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.nuevoproyecto-upload-module {
  gap: 32px;
  width: 37%;
  display: flex;
  padding: 48px 0;
  align-items: center;
  flex-direction: column;
}

.nuevoproyecto-steps-container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Reduced gap for a more compact look */
  width: 100%;
  align-items: flex-start;
}

.nuevoproyecto-step-title {
  color: var(--dl-color-default-neoblue);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  margin-bottom: 8px;
}

.nuevoproyecto-input-container {
  width: 100%;
  border: 2px solid rgba(203, 208, 220, 1);
  border-radius: 8px;
  padding: 12px;
  box-sizing: border-box;
}

.nuevoproyecto-project-name-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: Montserrat;
  color: var(--dl-color-default-gris);
}

 
.nuevoproyecto-title {
  gap: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.nuevoproyecto-text1 {
  color: var(--dl-color-default-neoblue);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.nuevoproyecto-text-subtitle {
  color: var(--dl-color-default-gris);
  height: auto;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

 
.nuevoproyecto-upload {
  gap: 8px;
  display: flex;
  width:100%;
  padding: 40px 80px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(203, 208, 220, 1);
  border-style: dashed;
  border-width: 2px;
  border-radius: 26px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.nuevoproyecto-frame17 {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.nuevoproyecto-group3 {
  width: 46px;
  height: 46px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.nuevoproyecto-vuesaxoutlinecloudadd1 {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.nuevoproyecto-vuesaxoutlinecloudadd2 {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.nuevoproyecto-cloudadd {
  top: 0px;
  left: 0px;
  width: 46px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.nuevoproyecto-frame16 {
  gap: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.nuevoproyecto-text2 {
  color: var(--dl-color-default-neoblue);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.nuevoproyecto-frame15 {
  gap: 8px;
  display: flex;
  padding: 12px 32px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-default-neoblue);
}
 
.nuevoproyecto-text4 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.nuevoproyecto-page-links {
  gap: 48px;
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0 64px;
  box-sizing: border-box;
}
 
.nuevoproyecto-logos {
  gap: 12px;
  height: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
 
.nuevoproyecto-logo {
  gap: 4px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.nuevoproyecto-clippathgroup2 {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.nuevoproyecto-clip05707104602 {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.nuevoproyecto-group2 {
  top: -0.00022362946765497327px;
  left: -4.606047099287025e-8px;
  width: 54.000484466552734px;
  height: 16.000293731689453px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.nuevoproyecto-footer-link-column {
  gap: 8px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.nuevoproyecto-text5 {
  color: var(--dl-color-default-gris);
  height: auto;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.nuevoproyecto-link {
  display: contents;
}
 
.nuevoproyecto-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.nuevoproyecto-text6 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
/*
@media (max-width: 1024px) {
  .nuevoproyecto-content {
    padding: 0 32px;
  }

  .nuevoproyecto-page-links {
    padding: 0 32px;
  }
}

@media (max-width: 768px) {
  .nuevoproyecto-content {
    padding: 0 24px;
  }

  .nuevoproyecto-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .nuevoproyecto-page-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .nuevoproyecto-upload-module {
    padding: 48px 0;
  }
}

@media (max-width: 480px) {
  .nuevoproyecto-main-content {
    padding-top: 56px;
  }

  .nuevoproyecto-title {
    text-align: center;
  }

  .nuevoproyecto-frame17 {
    width: 100%;
  }
}
  */
