.page-container1 {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
}
 
.page-subiendo {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  /*border: 2px solid #000;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
 
.page-content {
  width: 100%;
  min-height: 100vh; /*para que ocupe como minimo toda la pantalla*/
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
 
.page-header {
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  padding-left:64px;
  padding-top:24px;
  padding-bottom: 16px;

  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  border-color: rgba(0, 0, 51, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(255, 255, 255, 1);
}
 
 
.page-footer {
  width: 100%;
  width: 100%;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  padding-left:64px;
  padding-top:32px;
  padding-bottom: 32px;

  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  border-color: rgba(0, 0, 51, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
} 

.page-header-logo {
  height: 24px;
  width: 78px;
  object-fit: cover;
}

.page-footer-logo {
  height: 16px;
  width: 54px;  
  object-fit: contain;
}

.page-main-content {
  display: flex;
  /*padding: 80px 0 0;*/
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.page-div {
  gap: 48px;
  display: flex;
  align-items: center;
}
 
.page-clippathgroup1 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-clip05707104601 {
  top: 0px;
  left: 0px;
  width: 78px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-group1 {
  top: -0.00046777009265497327px;
  left: -4.606047099287025e-8px;
  width: 78.00070190429688px;
  height: 24.00044059753418px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-upload-module {
  gap: 48px;
  display: flex;
  padding: 48px 0;
  align-items: center;
  flex-direction: column;
}
 
.page-title {
  gap: 8px;
  width: 720px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.page-text1 {
  color: var(--dl-color-default-neoblue);
  height: auto;
  font-size: 22px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: PT Serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-upload {
  gap: 32px;
  height: 273px;
  display: flex;
  padding: 32px 80px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 26px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.page-frame8 {
  gap: 8px;
  width: 422px;
  display: flex;
  padding: 24px 32px;
  align-items: flex-end;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(238, 241, 247, 1);
}
 
.page-frame7 {
  gap: 12.885496139526367px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.page-frame6 {
  gap: 186.83969116210938px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.page-frame5 {
  gap: 27.38167953491211px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
 
.page-group4 {
  width: 44px;
  height: 42.64700698852539px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-group6 {
  top: 0px;
  left: 0px;
  width: 44.13469314575195px;
  height: 42.64700698852539px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-group5 {
  top: 0px;
  left: 0px;
  width: 44.13469314575195px;
  height: 42.64700698852539px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-rectangle7 {
  top: -0.000022567865016753785px;
  left: 10.413819313049316px;
  width: 34px;
  height: 43px;
  position: absolute;
}
 
.page-rectangle8 {
  top: 18.844003677368164px;
  left: -0.0000037273377984092804px;
  width: 30px;
  height: 17px;
  position: absolute;
  border-radius: 3.4712677001953125px;
}
 
.page-frame4 {
  gap: 6.442748069763184px;
  width: 286.483642578125px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.page-frame1321316828 {
  gap: 12.885496139526367px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.page-text2 {
  color: var(--dl-color-default-neoblue);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-group11 {
  width: 20px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-vuesaxoutlineclosecircle1 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.page-vuesaxoutlineclosecircle2 {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-closecircle {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

.page-frame3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.page-text3 {
  color: var(--dl-color-default-gris);
  height: auto;
  font-size: 10px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-frame2 {
  gap: 3.221374034881592px;
  display: flex;
  align-items: center;
}
 
.page-group7 {
  width: 12px;
  height: 12px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-loading {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
 
.page-text4 {
  color: var(--dl-color-default-neoblue);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-group14 {
  width: 358px;
  height: 0.000055338623496936634px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-frame15 {
  gap: 8px;
  display: flex;
  padding: 12px 32px;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-default-neoblue);
}
 
.page-text5 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

 
.page-page-links {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.page-logos {
  gap: 12px;
  height: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
}
 
.page-logo {
  gap: 4px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.page-logonegro-neo12 {
  width: 54px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.page-clippathgroup2 {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-clip05707104602 {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}

 
.page-group2 {
  top: -0.00022362946765497327px;
  left: -4.606047099287025e-8px;
  width: 54.000484466552734px;
  height: 16.000293731689453px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.page-footer-link-column {
  gap: 8px;
  width: 240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.page-text6 {
  color: var(--dl-color-default-gris);
  height: auto;
  font-size: 12px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.page-link {
  display: contents;
}
 
.page-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.page-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.page-text7 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
